<p-panel header="Login">


 


  <div>
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="username" placeholder="username"
          formControlName="username">

          <div style="color: red;"  *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

            <div *ngIf="username.errors.required">
              Username is required.
            </div>
        
          </div>

      </div>

      

      <div class="input-box">
        <input pInputText type="password" class="fortextbox" name="password" placeholder="password"
          formControlName="password">

      </div>





      <br />

      <div class="input-box">
        <input type="submit"  [disabled] = "!formdata.valid" class="forsubmit" value="Login">
      </div>

    

    </form>

    <div class="input-box">
      <button (click)="singUp($event)">Singup</button>
    </div>
  </div>

</p-panel>