<p-panel header="Add User">


 


  <div>
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="username" placeholder="username"
          formControlName="username">

          <div style="color: red;"  *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

            <div *ngIf="username.errors.required">
              Username is required.
            </div>
        
            <div *ngIf="username.errors.pattern">
              Please Enter Valid Username . E.g. example@test.com
            </div>
            
          </div>

      </div>

      

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="firstName" placeholder="firstName"
          formControlName="firstName">

      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="lastName" placeholder="lastName"
          formControlName="lastName">
      </div>





      <br />

      <div class="input-box">
        <input type="submit"  [disabled] = "!formdata.valid" class="forsubmit" value="Add">
      </div>

    </form>
  </div>

</p-panel>