
<p-table [value]="students">
  <ng-template pTemplate="header">
      <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>EmailId</th>
          <th>Add Line1</th>
          <th>Add Line2</th>
          <th>City</th>
          <th>State</th>
          <th>Pincode</th>
          <th>Delete</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
      <tr>
          <td>{{student.username}}</td>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>

          <td>{{student.emailId}}</td>
          <td>{{student.phone}}</td>
          <td>{{student.addLine1}}</td>

          <td>{{student.addLine2}}</td>
          <td>{{student.city}}</td>
          <td>{{student.state}}</td>
          <td><p-button label="delete" (onClick)="delete(student)"></p-button></td>
          
      </tr>
  </ng-template>
</p-table>

<div *ngIf=isNoRecord> No Record found</div>
