<p-panel header="Sign Up">


 


  <div>
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="username" placeholder="username"
          formControlName="username">

          <div style="color: red;"  *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">

            <div *ngIf="username.errors.required">
              Username is required.
            </div>
        
          </div>

      </div>

      

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="password" placeholder="password"
          formControlName="password">

          <div style="color: red;"  *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

            <div *ngIf="password.errors.required">
              Password is required.
            </div>

            <div *ngIf="password.errors.minLength">
              Please enter password with six characters or more.
            </div>
        
          </div>

      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="emailId" placeholder="emailId"
          formControlName="emailId">

          <div style="color: red;"  *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="alert alert-danger">

            <div *ngIf="emailId.errors.required">
              Email is required.
            </div>

            <div *ngIf="emailId.errors.pattern">
              Please enter vaild email id.
            </div>
        
          </div>

      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="firstName" placeholder="firstName"
          formControlName="firstName">
      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="lastName" placeholder="lastName"
          formControlName="lastName">
      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="phone" placeholder="phone"
          formControlName="phone">
      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="addLine1" placeholder="addLine1"
          formControlName="addLine1">
      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="addLine2" placeholder="addLine2"
          formControlName="addLine2">
      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="city" placeholder="city"
          formControlName="city">
      </div>

      <div class="input-box">
        <input pInputText type="text" class="fortextbox" name="state" placeholder="state"
          formControlName="state">
      </div>

      <div class="input-box">
        <input pInputText type="number" class="fortextbox" name="pincode" placeholder="pincode"
          formControlName="pincode">

          <div style="color: red;"  *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)" class="alert alert-danger">

            <div *ngIf="pincode.errors.required">
              Pincode is required.
            </div>

            <div *ngIf="pincode.errors.pattern">
              Please enter vaild pincode.
            </div>

            <div *ngIf="pincode.errors.minLength">
              Please enter pincode with six numbers or more.
            </div>
        
          </div>

      </div>




      <br />

      <div class="input-box">
        <input type="submit"  [disabled] = "!formdata.valid" class="forsubmit" value="Sing Up">
      </div>

    </form>
  </div>

</p-panel>